.cart-dropdown-container {
  position: absolute;
  width: 270px;
  height: 370px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 2px solid black;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 5;

  .empty-message {
    font-size: 18px;
    margin: 50px auto;
  }

  .cart-items {
    height: 280px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    /* Yalnızca dikey kaydırma */
    overflow-x: hidden;
  }

  button {
    margin-top: auto;
  }

  /* Scroll bar özelleştirme */
  //Scroll bar'ın tamamını temsil eder.
  .cart-items::-webkit-scrollbar {
    width: 10px;
  }

  // Scroll bar'ın arka planını temsil eder.
  .cart-items::-webkit-scrollbar-track {
    background: transparent; 
  }

  //Scroll bar'ın tutacak kısmını temsil eder.
  .cart-items::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 4px;
  }

}